[paths]
source =
   pyrosm
   */site-packages/pyrosm

[run]
branch = true
source =
    pyrosm
    tests
parallel = true
plugins = Cython.Coverage
omit =
    *migrations*
    pyrosm/proto/*_pb2.py

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    pyrosm/proto/*_pb2.py
