ipycache
ipykernel
ipyleaflet
ipython
ipython-genutils
ipywidgets
jupyter-book>=0.7.0b
myst-nb
myst-parser
nbsphinx
numpydoc
pyrosm
Sphinx
sphinx-book-theme
sphinx-togglebutton
sphinx_copybutton
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib.bibtex